################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Theme4/.vs/Theme4/v16/Browse.VC.opendb
