################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Theme4/.vs/Theme4/v16/Browse.VC.opendb
/Theme5/.vs/Theme5/v16/Browse.VC.opendb
/Theme 6/.vs/Theme 6/v16/Browse.VC.opendb
