################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Theme4/.vs/Theme4/v16/Browse.VC.opendb
/Theme5/.vs/Theme5/v16/Browse.VC.opendb
/Theme 6/.vs/Theme 6/v16/Browse.VC.opendb
/Task6/.vs/Task6/v16/Browse.VC.opendb
/Theme8/.vs/Theme8/v16/Browse.VC.opendb
/Theme 7/.vs/Theme 7/v16/Browse.VC.opendb
/Theme9/.vs/Theme9/v16/Browse.VC.opendb
/Theme10/.vs/Theme10/v16/Browse.VC.opendb
/Task1/.vs/Theme 11/v16/Browse.VC.opendb
/Theme12/.vs/Theme12/v16/Browse.VC.opendb
